# Logs
logs
*.log
npm-debug.log*

# Node.js dependencies
backend/node_modules/
frontend/node_modules/

node_modules/

# Build output
frontend/build/
backend/dist/

# Environment variables
backend/.env
frontend/.env

# IDE and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Lock files
package-lock.json
